google-generativeai
    pillow
    ```
  
  
    දැන් **File -> Save As** ගොස්, 
    * **File name:** කියන තැනට **`requirements.txt`** කියාම ටයිප් කරන්න (අකුරු සියල්ල සිම්පල් විය යුතුය).
    * **Save as type:** කියන තැන **`All Files (*.*)`** ලෙස වෙනස් කර Save කර ගන්න.